name : ci pipeline

on:
 push:
  branches: [ master ]

jobs:
 build:
  runs-on: ubuntu-latest

  steps:
  
   - name: checkout
     uses: actions/checkout@v5

   - name: setupnode
     uses: actions/setup-node@v3
     with:
      node-version: '18'

   - name: dependencies
     run: npm install

   - name: test
     run: npm test